# -----------------------------------------------------------------------------
#
# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause
#
# -----------------------------------------------------------------------------

# Default owners
# review when someone opens a pull request.
* @anujgupt-github @vbaddi @ochougul
/QEfficient/transformers @irajagop @quic-akuruvil
/docs @quic-amitraj
/examples @quic-mamta
/tests @abukhoy
/QEfficient/customop @irajagop
/QEfficient/generation @quic-mamta
/QEfficient/utils @quic-mamta
pyproject.toml @carlstreeter-quic
