# -----------------------------------------------------------------------------
#
# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause
#
# -----------------------------------------------------------------------------

# Default owners
# review when someone opens a pull request and assign appropriate reviewer
* @quic-rishinr @ochougul
pyproject.toml @carlstreeter-quic

