# -----------------------------------------------------------------------------
#
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause
#
# -----------------------------------------------------------------------------

# Default owners
# review when someone opens a pull request and assign appropriate reviewer
* @quic-rishinr @ochougul @quic-hemagnih @quic-amitraj
pyproject.toml @carlstreeter-quic

